<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SEFProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SEFProcessor.Properties.Settings>
            <setting name="publicApiEndpoint" serializeAs="String">
                <value>https://efaktura.mfin.gov.rs</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="API_getUnitMeasures" serializeAs="String">
                <value>/api/publicApi/get-unit-measures</value>
            </setting>
            <setting name="API_salesInvoiceGet" serializeAs="String">
                <value>/api/publicApi/sales-invoice?invoiceId={0}</value>
            </setting>
            <setting name="API_salesInvoice_ubl" serializeAs="String">
                <value>/api/publicApi/sales-invoice/ubl</value>
            </setting>
            <setting name="sandboxApiEndpoint" serializeAs="String">
                <value>https://demoefaktura.mfin.gov.rs/</value>
            </setting>
            <setting name="sandboxAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="API_salesInvoice_cancel" serializeAs="String">
                <value>/api/publicApi/sales-invoice/cancel</value>
            </setting>
            <setting name="API_salesInvoice_storno" serializeAs="String">
                <value>/api/publicApi/sales-invoice/storno</value>
            </setting>
            <setting name="Api_purchaseInvoice_changes" serializeAs="String">
                <value>/api/publicApi/purchase-invoice/changes?date={0}</value>
            </setting>
            <setting name="Api_salesInvoice_changes" serializeAs="String">
                <value>/api/publicApi/sales-invoice/changes?date={0}</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </SEFProcessor.Properties.Settings>
    </userSettings>
</configuration>